/* 
=========================
Typography
=========================
*/

/* google fonts   */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;700;800;900&family=Montserrat:wght@400;500;600;700;800;900&display=swap');
/* 
font-family: 'Inconsolata', monospace;
font-family: 'Montserrat', sans-serif;
*/
body {
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #000;
    letter-spacing: 0px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    font-weight: inherit;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 64px;
    line-height: 120%;
    letter-spacing: 0.01em;
    color: #000000;
}
h2 {
    font-size: 24px;
    line-height: 34px;
    color: #000000;
}
h3 {
    font-size: 30px;
    line-height: 40px;
}
h4 {
    font-size: 20px;
    line-height: 27px;
}

h5 {
    font-size: 16px;
    line-height: 24px;
}

h6 {
    font-size: 14px;
    line-height: 24px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 28px;
    margin: 0;
}

p img {
    margin: 0;
}

span {
    font-family: 'Poppins', sans-serif;
}


/* em and strong */

em {
    font: 15px/30px;
}

strong,
b {
    font: 15px/30px;
}
small {
    font-size: 11px;
    line-height: inherit;
}
/*  blockquotes */
blockquote {
    border-left: 0 none;
    font-family: 'Poppins', sans-serif;
    margin: 10px 0;
    padding-left: 40px;
    position: relative;
}
blockquote::before {
    color: #4e5665;
    content: "ï„";
    font-family: FontAwesome;
    font-size: 36px;
    left: 20px;
    line-height: 0;
    margin: 0;
    opacity: 0.5;
    position: absolute;
    top: 20px;
}
blockquote p {
    font-style: italic;
    padding: 0;
    font-size: 18px;
    line-height: 36px;
}
blockquote cite {
    display: block;
    font-size: 12px;
    font-style: normal;
    line-height: 18px;
}
blockquote cite:before {
    content: "\2014 \0020";
}
blockquote cite a,
blockquote cite a:visited {
    color: #8B9798;
    border: none
}
/* abbreviations */
abbr {
    color: #444;
    font-weight: 700;
    font-variant: small-caps;
    text-transform: lowercase;
    letter-spacing: .6px;
}
abbr:hover {
    cursor: help;
}
/* links */
a,
a:visited {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: #111;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    outline: 0;
}
a:hover,
a:active {
    color: #00b0ff;
    text-decoration: none;
    outline: 0;
}
a:focus {
    text-decoration: none;
    outline: 0;
}
p a,
p a:visited {
    line-height: inherit;
    outline: 0;
}
a.active-page {
    color: #e6ae48!important;
}
/* list */
ul,
ol {
    margin-bottom: 0px;
    margin-top: 0px;
}
ul {
    margin: 0;
    list-style: none;
    padding-left: 0;
}
ol {
    list-style: decimal;
}
ol,
ul.square,
ul.circle,
ul.disc {
    margin-left: 0px;
}
ul.square {
    list-style: square outside;
}
ul.circle {
    list-style: circle outside;
}
ul.disc {
    list-style: disc outside;
}
ul ul,
ul ol,
ol ol,
ol ul {
    margin: 0;
}
ul ul li,
ul ol li,
ol ol li,
ol ul li {
    margin-bottom: 0px;
}
li {
    line-height: 18px;
    margin-bottom: 0px;
}

/* definition list */

dl {
    margin: 12px 0;
}

dt {
    margin: 0;
    color: #11ABB0;
}

dd {
    margin: 0 0 0 20px;
}


/*
-----------------------------------------------------------------------
- Custom Typography
-----------------------------------------------------------------------
*/
body{
    font-family: 'Inconsolata', monospace;
    background: var(--white);
}
.container,
.container-fluid {
    padding-left: 15px;
    padding-right: 15px;
}
@media screen and (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1010px;
    }
    .container-fluid{
        max-width: 1530px;
    }
}

.row{
    margin-left: 0;
    margin-right: 0;
}
.row>* {
    padding-right: 15px;
    padding-left: 15px;
}

img{
    max-width: 100%;
}
a{
    color: var(--black);
    font-family: 'Inconsolata', monospace;
    transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}
a:hover,
a:active {
    color: var(--black);
}
i{
    transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}
p{
    font-family: 'Inconsolata', monospace;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: var(--black2);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--black);
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-weight: 800;
    font-size: 64px;
    line-height: 74px;
}
h2 {
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
}
h3 {
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
}
h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
}

h5 {
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
}

h6 {
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
}
input{
    font-family: 'Inconsolata', monospace;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}
span{
    font-family: 'Inconsolata', monospace;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}
/* color code */
:root{
    --white: #ffffff;
    --black: #2A2618;
    --blackRgba: rgba(42, 38, 24, 0.9);
    --gray: #63615a;
    --innerBorder: #486052;
    --primary: #48624F;
    --secondary: #EFA768;
    --heroBg: #FBF9F6;
    --testimonialBg: #FAF3EB;
    --mainBG: #E5E5E5;
}
.p-top{
    padding-top: 120px;
}
.p-bottom{
    padding-bottom: 120px;
}
.mb-50{
    margin-bottom: 50px;
}
@media screen and (max-width: 576px){
    .container, .container-fluid {
        padding-left: 10px;
        padding-right: 10px;
    }
    .row>* {
        padding-right: 10px;
        padding-left: 10px;
    }

}
/*################## 
--------------------------
- typography area ends here
--------------------------
##################*/